body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/*navigation*/
.navigation {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  padding: 20px 25px 0px;
}
.navigation a {
  float: right;
  font-size: 18px;
  color: #0033cc;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bold;
}
.navigation .verticalline {
  border-left: 6px solid #0099cc;
  height: 80px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
.navigation .dropdown {
  float: right;
  overflow: hidden;
  /* Dropdown content (hidden by default) */
}
.navigation .dropdown .dbutton {
  font-size: 18px;
  border: none;
  outline: none;
  color: #0033cc;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}
.navigation .dropdown .dcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navigation .dropdown .dcontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navigation .dropdown .dcontent a:hover {
  background-color: #0033cc;
}
.navigation a:not(.brand):hover,
.navigation .dropdown:hover .dbutton {
  background-color: white;
}
.navigation .dropdown:hover .dcontent {
  display: block;
}
.navigation .brand {
  float: left;
  padding: 25px 0;
  height: auto;
}
@media screen and (max-width: 700px) {
  .navigation a,
  .navigation .verticalline {
    float: none;
    width: 100%;
  }
}

/*set properties for customer content*/

.customercontent{
    width: 100%;
}

.changeinformation,.orderhistory{
    display:block;
}

/*show basic information part*/
.basicinformation,.changeinofrmation,.orderhistory{
    width: inherit;
    margin: 0 auto;
}

/*security section*/
.securityform{
    margin:15px 0 15px 40%;
}

.securityform .securityanswer{
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
    text-align: center;
}
/*modify information part*/
.changeinformation table{
    margin:15px auto;
    border: 1px solid black;
}
.changeinformation th{
    font-size: 3em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.changeinformation input{
    height: 2em;
    width: 90%;
    margin-left: 1em;
}

.changeinformation #back{
    display: block;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 5em;
    margin-left: 5em;
    margin-top: 3em;
    
}
.orderhistory button{
    display: block;
    margin: 15px auto;
}

.changeinformation .highlight{
    background-color: red;
}

/*get order history part*/
/*.orderhistory table{
    margin: 15px auto;
}

.orderhistory table th{
    margin: 15px auto;
    border: solid 1pt black;
}


table{
    margin: 15px auto;

}

table td{
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 1.25em; 
    font-weight: bold;
    padding: 4px;
    text-align: center;

}

tr{
background-color: #F1F1F1;
border-bottom: 1px solid white;
color: #6E6E6E;

}

th{
    font-weight: bold;
}
*/

table {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 80%;
  text-align: center;
    margin: 15px auto;
}
table td, table th {
  border: 1px solid #948473;
  padding: 4px 4px;
}
table tbody td {
  font-size: 15px;
}
table thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #F0F0F0;
  background: #948A7B;
  background: -moz-linear-gradient(top, #afa79c 0%, #9e9588 66%, #948A7B 100%);
  background: -webkit-linear-gradient(top, #afa79c 0%, #9e9588 66%, #948A7B 100%);
  background: linear-gradient(to bottom, #afa79c 0%, #9e9588 66%, #948A7B 100%);
}
table tfoot td {
  font-size: 16px;
}


/*footer*/
.footer {
  display: flex;
  padding: 20px;
  /* Some padding */
  text-align: center;
  /* Center text*/
  background: black;
  width: 100%;
  justify-content: center;
}
.footer p {
  padding-left: 15px;
  color: aliceblue;
  text-align: left;
  font-family: cursive;
  font-weight: bold;
}
.footer .left1,
.footer .left2,
.footer .left3,
.footer .left4,
.footer .left5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .left1 a,
.footer .left2 a,
.footer .left3 a,
.footer .left4 a,
.footer .left5 a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: grey;
  font-weight: bold;
}
.footer .left1 a:hover,
.footer .left2 a:hover,
.footer .left3 a:hover,
.footer .left4 a:hover,
.footer .left5 a:hover {
  color: antiquewhite;
}
.footer .left1 {
  flex-basis: 25%;
}
.footer .left2,
.footer .left3,
.footer .left4 {
  flex-basis: 15%;
}
.footer .left5 {
  flex-basis: 25%;
  font-size: 20px;
}
.footer .left5 input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
  float: left;
}
.footer .left5 button {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  float: left;
  min-width: 80px;
}
.footer .left5 form.example button:hover {
  background: #0b7dda;
}
