body{
    background-color: lightblue;
}
img{
    float: right;
    width: 45em;
    height: 45em;
}
#Signin{
    padding-top:12.5em;
    
}
table{
    margin-left: 8em;
    border: 1px solid black;
}
th{
    font-size: 3em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
input{
    height: 2em;
    width: 90%;
    margin-left: 1em;
}

#back{
    display: block;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 5em;
    margin-left: 5em;
    margin-top: 3em;
    
}
.highlight{
    background-color: red;
}
.clear{
    background-color: white;
}